# STC Tv

In [20]:
# Import the required libraries 
"""
Please feel free to import any required libraries as per your needs
"""
import pandas as pd     # provides high-performance, easy to use structures and data analysis tools
import pyxlsb           # Excel extention to read xlsb files (the input file)
from sklearn.neighbors import NearestNeighbors

In [21]:
pd.options.display.float_format = '{:.3f}'.format

# STC Tv dataset
The dataset consists of details about each customer and the movies and/or tv shows watched in addition to the genre. 

You are required to work on task three to build a recommendation engine for our platform to Recommend movies to usesrs that they might be interested inÂ¶

In [22]:
dataframe = pd.read_excel("stc TV Data Set_T3.xlsb",usecols = ['user_id_maped','program_name','rating','program_genre'])

In [23]:
# check the data shape
dataframe.shape

(1048575, 4)

In [24]:
# display the first 5 rows 
dataframe.head()

   user_id_maped          program_name  rating program_genre
0          26138            100 treets       1         Drama
1           7946                 Moana       1     Animation
2           7418  The Mermaid Princess       1     Animation
3          19307  The Mermaid Princess       2     Animation
4          15860             Churchill       2     Biography

In [25]:
# describe the numeric values in the dataset
dataframe.describe()

       user_id_maped      rating
count    1048575.000 1048575.000
mean       17092.656       2.497
std        10035.131       1.120
min            1.000       1.000
25%         8253.000       1.000
50%        17149.000       2.000
75%        25665.000       3.000
max        34280.000       4.000

In [26]:
# check if any column has null value in the dataset
dataframe.isnull().any()

user_id_maped    False
program_name     False
rating           False
program_genre    False
dtype: bool

In [27]:
"""
TODO build your Recommender system to Highlight Programs that usesrs might be interested in
"""
df=dataframe.copy()
movie_pivot = df.pivot_table(index='program_name',columns='user_id_maped',values='rating').fillna(0)
movie_pivot.head()

user_id_maped,1,5,9,11,15,17,20,26,28,30,...,34259,34261,34263,34265,34267,34269,34271,34273,34277,34280
program_name,,,,,,,,,,,,,,,,,,,,,
#FollowFriday,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
10 Days in a Madhouse,0.000,0.000,0.000,0.000,1.500,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
100 treets,0.000,0.000,0.000,1.000,2.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
101 Dalmatians,0.000,0.000,0.000,0.000,2.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
102 Dalmatians,0.000,0.000,0.000,0.000,2.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000

In [28]:
model_nn = NearestNeighbors(metric='cosine', algorithm='brute', n_neighbors=5, n_jobs=-1)
model_nn.fit(movie_pivot)

NearestNeighbors(algorithm='brute', metric='cosine', n_jobs=-1)

In [33]:
def recommender(name):
    indices=model_nn.kneighbors(movie_pivot.loc[['Moana']], 6, return_distance=False)
    for i, value in enumerate(movie_pivot.index[indices][0]):
        if i == 0:
            print('If you liked ', name,' you will like:')
            print("===================================")
        else:
            print((i),". ",value)

In [34]:
"""
TODO show the recommendations (top 5) for the people who watched "Moana" movie
"""
recommender('Moana')

If you liked  Moana  you will like:
===================================
1 .  Trolls
2 .  Surf's Up : WaveMania
3 .  The Mermaid Princess
4 .  The Boss Baby
5 .  The Jetsons & WWE: Robo-WrestleMania!

C:\Users\University\AppData\Local\Temp\ipykernel_6124\2500394365.py:3: FutureWarning: Support for multi-dimensional indexing (e.g. `obj[:, None]`) is deprecated and will be removed in a future version.  Convert to a numpy array before indexing instead.
  for i, value in enumerate(movie_pivot.index[indices][0]):